header {
    height: auto;
    padding-top: 7rem;
    overflow: hidden;
    /* border: 1px solid green; */
    margin-bottom: 0.2rem;
    padding-bottom: 2rem;
    background: var(--color-bg);
    box-shadow: 0 0 6px 5px rgb(0, 0, 0);

}

.header__container {
    display: flex;
    gap: 8rem;
    text-align: center;
    height: 100%;
    position: relative;
}

.image__container {
    height: 100%;
    width: 24rem;
}

/*====Social Icon====*/
.header__socials {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.mm {
    padding: 0;
    margin: 0;
}

.my-iconsocial {
    color: var(--color-text);
    font-size: 18px;
    background: var(--color-bg);
    padding-right: 11px;
    padding-left: 10px;
    padding-top: 6px;
    border-radius: 50%;
    border: 1px solid var(--color-orange-variant);
    transition: var(--transition);

}

.my-iconsocial:hover {
    border-color: var(--color-orange-variant);
    color: var(--color-orange-variant);
    transform: translateY(-3px);
    transition: var(--transition);
}

.scroll__container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-bg);
    height: fit-content;
    width: 4rem;
    padding-top: 5px;
    position: absolute;
    left: -7.5rem;
    bottom: 6.5rem;
}



.scroll__down {
    color: var(--color-orange);
    transition: var(--transition);
    transition: var(--transition);
}

.scroll__down:hover {
    color: var(--color-orange-variant);
    transition: var(--transition);
    transform: translateY(-3px);
    transition: var(--transition);
}

/*=====CTA=======*/

.cta {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    transition: var(--transition);
}

.btn-transform:hover {
    transform: translateX(-3px);
    transition: var(--transition);
}

.btn-transformn:hover {
    transform: translateX(4px);
    transition: var(--transition);
}



.header__detailcontainer {
    margin-left: 3rem;
    padding-top: 3rem;
    color: var(--color-header);
}

.header__detailcontainer p {
    padding-top: 1rem;
    font-size: small;
    font-weight: bold;
    /* color: var(--color-orange-variant); */

}

.header__detailcontainer h2 {
    font-weight: bolder;
    color: var(--color-orange-variant);
}

.my-icon {
    margin-right: 5px;
    color: var(--color-header);

}

h5{
    color: var(--color-text);
}

.my-iconr {
    margin-left: 5px;
}

small {
    color: var(--color-orange);
    font-size: small;

}


h3 {
    color: var(--color-white);
    
}

.header__detailcontainer h4, p{
    color: var(--color-text);
}



/*=========MEDIA QUERIES (MEDIUM DEVICES0 ======*/


/*=========MEDIA QUERIES (MEDIUM DEVICES0 ======*/

@media screen and (max-width: 1024px) {
    header {
        padding-top: 2rem;
        height: fit-content;
    }

    .header__detailcontainer {
        margin-top: -28rem;
        margin-right: 2.5rem;
    }



    .header__container {
        flex-direction: column;
        justify-items: center;
    }

    .image__container {
        width: 22rem;
        margin-left: 13rem;

    }

    .cta {
        margin-top: 1rem;
        margin-bottom: 1.5rem;

    }

    .scroll__down {
        display: none;
    }
}



@media screen and (max-width: 600px) {
    header {
        padding-top: 2rem;
        height: fit-content;
    }

    .header__detailcontainer {
        margin-top: -22rem;
    }

    .header__detailcontainer h2 {
        font-size: medium;
    }

    .my-iconsocial {
        font-size: 16px;
    }

    .header__socials {
        gap: 1rem;
    }

    .header__detailcontainer h4 {
        font-size: small;
        font-weight: bold;
    }

    .header__container {
        flex-direction: column;
        justify-items: center;
    }

    .image__container {
        width: 14rem;
        margin-left: 5rem;

    }

    .cta {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: small;

    }

    .scroll__down {
        display: none;
    }
}