
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .logcon {
    margin-top: 2rem; 
    margin-bottom: 2rem; 
} */

.logcon p{
    /* font-style: italic; */
    font-size:x-large;
    font-weight: bolder;
    margin-bottom: -40px;
    align-items: center;
    text-align: center;
    color: var(--color-orange-variant);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 /* .logos-slides:hover{
    animation-play-state: paused;
}  */


@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    padding: 50px 0;
    background: var(--color-bg);
    white-space: nowrap;
    background: rgb(10, 10, 10);
    background: var(--color-bg);
    margin-top: 0.8rem;
    /* height: 18px; */
    align-items: center;
    justify-content: center;
    align-content: center;
}


.logos-slides .tems{
    height: 18px;
    display: inline-block;
    width: 12rem;
    background: transparent;
    color: var(--color-text);
    margin-left: 10px;
    margin-right: 10px;
}

.tems span{
    color: green;
    font-size: larger;
    font-weight: bolder;
}

.cont{
    margin-left: -2rem;
    border: 1px solid green;
    display: flex;
}

.logos-slides{
    white-space: nowrap;
    animation: 80s slide infinite linear;
    margin-right: 10px;
    display: inline-block;
    padding-left: 2rem;
}
.tailon{
    background: red;
    color: blue;
}
.innerconten{
    display: inline-flex;
    /* border: 1px solid green; */
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    padding: 5px 15px;
    transition: var(--transition);
}
.innerconten:hover{
    background: rgb(16, 15, 16);
border-radius: 10px;
color: var(--color-bg);
padding: 5px 15px;
transition: var(--transition);

}

.tems.sage span{
    padding-top: -15.5rem;
}




/*======MEDIA QUERIES (MEDIUM DEVICES)======*/

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    
    .logs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
        white-space: nowrap;
       
    }
}


/*======MEDIA QUERIES (SMALL DEVICES)======*/

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-ms);
    }

    .experience__section {
        margin-bottom: 1rem;
    }
    .logs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
        white-space: nowrap;
       
    }

    .logos-slides{
        white-space: nowrap;
        animation: 80s slide infinite linear;
        margin-right: 10px;
        display: inline-block;
        padding-left: 2rem;
    }

    .logos-slides .tems{
        width: 10rem;
        margin-left: 5px;
        margin-right: 5px;
    }

    .logcon{
        margin-top: -7rem;
        
    }

}