.container__service {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.btn-other {
    background: black;
    padding: 0.4rem .6rem;
}

.contain__exp {
    margin-top: 0.9rem;
}

.audit__container {
    display: flex;
    flex-direction: column;
    background: var(--color-bg);
    margin-top: -9px;
    margin-bottom: 0.8rem;
    transition: var(--transition);
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem;
    padding-bottom: 0.2rem;
}

.audit__container h3{
    color: var(--color-orange-variant);
    font-size:small;
    margin-top: 3px;
    font-weight: bolder;
}

.audit__background__img{
    /* height: 5rem; */
    margin-top: 3px;
    margin-bottom: 4px;
    background-image: url(../../../ASSETS/IMG_20231104_112848.jpg);

}
.audit__background__imgc{
    /* height: 5rem; */
    margin-top: 3px;
    margin-bottom: 4px;
    background-image: url(../../../ASSETS/IMG_20231104_112848.jpg);

}

.audit__container:hover {
    background: rgb(18, 17, 17);
    transition: var(--transition);
}

.audit__container p {
    font-size: small;
}

.audit__icon {
    border: 3px solid var(--color-bg);
    color: var(--color-bg);
    padding: 5px;
    border-radius: 50%;
    margin-top: 0.8rem;
    margin-left: 45%;
    
}

.consult__icon {
    border: 2px solid darkgreen;
    color: var(--color-orange);
    padding: 7px;
    border-radius: 50%;
    margin-top: 0.8rem;
    margin-left: 43%;

}

.consult__con {
    margin-bottom: 0.9rem;
}

/*======MEDIA QUERIES (SMALL DEVICES)======*/

@media screen and (max-width: 600px) {

    .audit__icon {
       
        margin-left: 44%;
        
    }

    .container__service {
        display: flex;
        gap: 0.3rem;
        justify-content: center;
        /* background: rebeccapurple; */
        width: fit-content;
    }
    
}