.container__exp {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
}


.btn-other {
    background: black;
    /* padding: 0.7rem 0.7rem; */
    border-color: rgb(30, 28, 28);
    border-width: 0.1rem;
    color: wheat;
    border-radius: 5px;
    padding-left: 2rem;
}
.btn-other1{
    width: 5rem;
}
.contain__exp {
    margin-top: 0.9rem;
}

.contain__responsibilit {
    margin-top: 0.9rem;
}

.li__content {
    display: flex;
    justify-self: start;
    font-size: smaller;
    padding: 0.0rem;
    gap: 3px;
    /* margin-top: 0.1rem; */
}

.li__content:hover {
    background: var(--color-bg);
}

.mm {

    width: 35%;
    border-right: 1px solid var(--color-orange);
    color: var(--color-text);

}


.icon__expn {
    padding: 0.5rem;
    font-size: small;
    margin-right: 0.3rem;
    color: var(--color-orange-variant);
    /* border: 1px solid green; */
    height: 15;
    width: 20;
    border-radius: 50%;
}

.ul__content {
    padding: 0.3rem 0.1rem;
    background: var(--color-bg);
    border-radius: 0.2rem;
    margin-bottom: 0.8rem;
    margin-top: -0.5rem;
    transition: var(--transition);

}

.ul__content:hover {
    background-color: rgb(18, 17, 17);
    transition: var(--transition);
}

.ul__content h6 {
    margin-left: 0.4rem;
    color: var(--color-orange-variant);
    font-size: small;
}

span{
    color: var(--color-text);
}

.span_2 {
    color: var(--color-orange-variant);
    margin-left: 0.2rem;


}

.list__job {
    list-style: disc;
    font-size: small;
    margin-left: 2rem;
    text-align: justify;
    margin-right: 0.2rem;
    color: var(--color-text);
}


.educ__icon {
    display: flex;
    color: wheat;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.educ__icon h6 {
    margin-top: 0.5rem;
}

.new__icon {
    border: 1px solid wheat;
    padding: 5px;
    border-radius: 50%;
}

.new__list {
    display: flex;
    padding-left: 3rem;

}

.new__list h6 {
    color: var(--color-text);
    font-size: small;
    font-weight: 100;
}

.inner__icon {
    margin-top: 0.1rem;
    color: var(--color-orange);
}

.list_space {
    margin-bottom: -0.7rem;
}
/*============Programming Languages==========*/
.languagebutton{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    background: transparent;
    margin-top: 0.4rem;

}

.lan__c{
    padding-bottom: 1rem;
}

.languagebutton> .left{
    background: var(--color-orange);
    flex: 1;
    padding: 0.1rem 0.0rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
    font-weight: bolder;
    margin-right: -0.5px;
}

.languagebutton> .left:hover{
    background: var(--color-bg);
    color: var(--color-orange-variant);
    border: 1px solid var(--color-orange-variant);
    transition: var(--transition);
    flex: 1.3;

}

.languagebutton> .right{
    background: var(--color-orange-variant);
    flex: 1;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: var(--transition);
    font-weight: bolder;
    margin-right: -0.5px;
}

.languagebutton> .right:hover{
    background: var(--color-bg);
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
    transition: var(--transition);
    flex: 1.3;

}




.front__container{
    background: var(--color-bg);
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
    padding: 0.3rem;
    border-radius: 0.4rem;

}
.front__child{
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0.5rem; */
    background:rgb(18, 17, 17);
    padding: 0.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.front__child:hover{
    border: 1px solid var(--color-orange);
    background: var(--color-bg);
    transition: var(--transition);

}
.CH1:hover{
    border: 1px solid var(--color-orange-variant);
}

.front__child p{
    color: rgb(202, 213, 174);
}


/*======MEDIA QUERIES (SMALL DEVICES)======*/

@media screen and (max-width: 600px) {
    .icon__expn {
        padding: 0.1rem;
        font-size: small;
        margin-right: 0.3rem;

    }

    .li__content {
        display: flex;
        justify-self: start;
        font-size: smaller;
        padding: 0.0rem;
        width: auto;
    }


    .mm {
        width: 40%;
        padding-right: 0.5rem;
    }

    .mm2 {
        width: fit-content;
        font-size: smaller;
    }

    .contain__exp {
        margin-top: 0.9rem;
        width:auto;
    }
.container__exp{
    /* background: blueviolet; */
    gap: 0.0rem;
    width: fit-content;
    align-content: center;
    /* padding-left: 10%; */
    margin-left: 0;
    margin-right: 0;
    
}
    
    .ul__content{
        /* background: red; */
        width: 100%;
    }
.wok__con{
    /* background: green; */
    width: 100%;
}
.lan__c{
    /* background: green; */
    width: 100%;
}


}